body {
    background-image: url('../assets/img/background_weather api.JPG');
    background-size: contain;
    color: rgb(82, 164, 100);
}
#current-info {
    margin: 40px;
    background: none;
    
}
#header{
    font-size:90px;
    margin-top: 20px;
}
.shistory{
    font-size:45px;
    text-shadow: 20rem;}
#search-history, #forecast{
    margin: 50px;
    padding-top: 75px;
    color: white;
}
#forecast{
    margin: 50px;
    padding-top: 50px;
}
#forecast-title{
    margin: 50px;
    padding-top: 50px;
}

/* uvi styling */
.red {

    height: 30px;
    border: 1px solid red;
}

.green {
    height: 30px;
    border: 1px solid green;
    background-color: green;
}
.yellow {
    height: 30px;
    border: 1px solid yellow;
    background-color: yellow;
}
.purple {
    height: 30px;
    border: 1px solid purple;
    background-color: purple;
}
.orange {
    height: 30px;
    border: 1px solid orange;
    background-color: orange;
}
p {
    font-family: verdana;
    font-size: 20px;
  }

  #sidebar-wrapper {
    top: 52px;
    left: -200px;
    width: 300px;
    background-color: #5c8c4b;
    opacity: 45%;
    color: white;
    position: fixed;
    height: 100%;
    z-index: 1;
  }
  .sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
  }
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
  }
  .sidebar-nav li a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: larger;
  }
  .sidebar-nav li a:hover {
    background: rgba(255,255,255,0.25);
    color: white;
    text-decoration: none;
  }
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  #sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -200px;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
      transition: 0s;
      left: 200px;
    }
  }

  .card{
    margin:20px
  }